<footer class="footer">
    <section class="social-media">
        <div class="social-container">
            <span>Conecte-se conosco nas redes sociais:</span>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>

    <section class="links">
        <div class="link-container">
            <div class="column">
                <h6>Nome da Empresa</h6>
                <p>Aqui você pode usar linhas e colunas para organizar o conteúdo do seu rodapé.</p>
            </div>

            <div class="column">
                <h6>Produtos</h6>
                <p><a href="#">MDBootstrap</a></p>
                <p><a href="#">MDWordPress</a></p>
                <p><a href="#">BrandFlow</a></p>
                <p><a href="#">Bootstrap Angular</a></p>
            </div>

            <div class="column">
                <h6>Links Úteis</h6>
                <p><a href="#">Sua Conta</a></p>
                <p><a href="#">Torne-se um Afiliado</a></p>
                <p><a href="#">Taxas de Envio</a></p>
                <p><a href="#">Ajuda</a></p>
            </div>

            <div class="column">
                <h6>Contato</h6>
                <p><i class="fas fa-home"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope"></i> info&#64;example.com</p>
                <p><i class="fas fa-phone"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print"></i> + 01 234 567 89</p>
            </div>
        </div>
    </section>
</footer>
