<div class="text-search-container">
  <h2>Busca de Texto</h2>
  
  <textarea [(ngModel)]="userInput" placeholder="Digite sua pergunta aqui..."></textarea>
  
  <button (click)="submit()" [disabled]="loading" class="search-button">Buscar</button>
  
  <div *ngIf="loading" class="loader">Carregando...</div> <!-- Indicador de carregamento -->
  
  <div *ngIf="responseText" class="response-container">
    <p>{{ responseText }}</p>
    <div class="document-link" *ngIf="documentLink">
      <i class="fas fa-file-pdf"></i> <!-- Ícone de PDF -->
      <a [href]="documentLink" target="_blank" class="document-link-text">Visualizar Documento</a>
    </div>
  </div>
</div>