.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #1c2331; /* Cor do texto */
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Mantém duas colunas */
  gap: 15px; /* Espaçamento entre as caixinhas */
  max-width: 500px; /* Largura máxima reduzida */
  width: 100%; /* Ocupa 100% do espaço disponível */
}

.result-box {
  background-color: #ffffff; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 15px; /* Espaçamento interno ajustado */
  text-align: center; /* Centralizar o texto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s; /* Transição suave */
}

.result-box:hover {
  background-color: #f0f4f8; /* Cor de fundo ao passar o mouse */
}

.result-link {
  text-decoration: none; /* Remove sublinhado */
  color: #6351ce; /* Cor do texto do link */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito para destaque */
}

.result-link:hover {
  color: #4e3fbb; /* Cor ao passar o mouse */
}
