<!-- O componente de upload de documentos -->
<app-upload-documents (uploadSuccess)="handleUploadSuccess($event)" 
                      (uploadError)="handleUploadError($event)"></app-upload-documents>

<!-- Exibição dos documentos similares após o upload -->
<div *ngIf="results.length > 0" class="results-container">
    <h3>Documentos similares encontrados:</h3>
    <div class="results-grid">
        <div class="result-box" *ngFor="let result of results">
            <a [href]="result.url_documento" target="_blank" class="result-link">
                <i class="fas" [ngClass]="{'fa-file-word': result.url_documento.endsWith('.docx'), 'fa-file-pdf': result.url_documento.endsWith('.pdf') }"></i>
                {{ result.nome_documento }}
            </a>
        </div>
    </div>
</div>

